#myForm {
    display: none;
}

#listAllStudent {
    border: none;
    width: 60%;
}

tr, td {
    height: 30px;
}

tr:nth-child(even){
    background-color: #eeeeee;
}

thead {
    text-align: center;
    font-weight: bold;
}